@using ProfileXMLBuilder.Lib
@inject VpnBuildService svc
@inject IModalService ModalService

<Div Flex="Flex.Row.JustifyContent.Between">
    <Button Color="Color.Info" Clicked="ShowNrptAdd">Add</Button>
    <Button Color="Color.Danger" Clicked="RemoveNrpt">Remove</Button>
</Div>
<DataGrid TItem="DomainNameInformation"
          Data="@svc.Nrpt"
          @bind-SelectedRow="@selected"
          Responsive>
    <DataGridCommandColumn />
    <DataGridColumn Field="@nameof(DomainNameInformation.DomainName)" Caption="Domain Name" />
    <DataGridColumn Field="@nameof(DomainNameInformation.DnsServers)" Caption="DNS Servers" />
    <DataGridColumn Field="@nameof(DomainNameInformation.WebProxyServers)" Caption="Web Proxy Servers" />
    <DataGridColumn Field="@nameof(DomainNameInformation.AutoTrigger)" Caption="Auto Trigger" />
    <DataGridColumn Field="@nameof(DomainNameInformation.Persistent)" Caption="Persistent" />
</DataGrid>

@code {
    DomainNameInformation? selected;

    private void ShowNrptAdd()
    {
        ModalService.Show<NrptAddModal>("New NRPT Entry",
            new ModalInstanceOptions()
                {
                    Size = ModalSize.Large
                });
    }

    private void RemoveNrpt()
    {
        if (selected != null) svc.Nrpt.Remove(selected);
    }
}
