@using ProfileXMLBuilder.Lib
@inject VpnBuildService svc
@inject IModalService ModalService

<Div Flex="Flex.Row.JustifyContent.Between">
    <Button Color="Color.Info" Clicked="ShowRouteAdd">Add</Button>
    <Button Color="Color.Danger" Clicked="RemoveRoute">Remove</Button>
</Div>
<DataGrid TItem="Route"
          Data="@svc.Routes"
          @bind-SelectedRow="@selected"
          Responsive>
    <DataGridCommandColumn />
    <DataGridColumn Field="@nameof(Route.Address)" Caption="Address" />
    <DataGridColumn Field="@nameof(Route.PrefixSize)" Caption="Prefix Size" />
    <DataGridColumn Field="@nameof(Route.ExclusionRoute)" Caption="Exclusion Route" />
    <DataGridColumn Field="@nameof(Route.Metric)" Caption="Metric" />
</DataGrid>

@code {
    Route? selected;

    private void ShowRouteAdd()
    {
        ModalService.Show<RouteAddModal>("New Route",
            new ModalInstanceOptions()
                {
                    Size = ModalSize.Large
                });
    }

    private void RemoveRoute()
    {
        if (selected != null) svc.Routes.Remove(selected);
    }
}
