@using ProfileXMLBuilder.Lib
@inject VpnBuildService svc
@inject IModalService ModalService

<Div Flex="Flex.Row.JustifyContent.Between">
    <Button Color="Color.Info" Clicked="ShowTrafficFiltersAdd">Add</Button>
    <Button Color="Color.Danger" Clicked="RemoveTrafficFilter">Remove</Button>
</Div>
<DataGrid TItem="TrafficFilter"
          Data="@svc.TrafficFilters"
          @bind-SelectedRow="@selected"
          Responsive>
    <DataGridCommandColumn />
    <DataGridColumn Field="App.Id" Caption="App ID" />
    <DataGridColumn Field="@nameof(TrafficFilter.Claims)" Caption="Claims" />
    <DataGridColumn Field="@nameof(TrafficFilter.Protocol)" Caption="Protocol" />
    <DataGridColumn Field="@nameof(TrafficFilter.LocalPortRanges)" Caption="Local Port Ranges" />
    <DataGridColumn Field="@nameof(TrafficFilter.RemotePortRanges)" Caption="Remote Port Ranges" />
    <DataGridColumn Field="@nameof(TrafficFilter.LocalAddressRanges)" Caption="Local Address Ranges" />
    <DataGridColumn Field="@nameof(TrafficFilter.RemoteAddressRanges)" Caption="Remote Address Ranges" />
    <DataGridColumn Field="@nameof(TrafficFilter.RoutingPolicyType)" Caption="Routing Policy Type" />
    <DataGridColumn Field="@nameof(TrafficFilter.Direction)" Caption="Direction" />
</DataGrid>

@code {
    TrafficFilter? selected;

    private void ShowTrafficFiltersAdd()
    {
        ModalService.Show<TrafficFilterAddModal>("New Traffic Filter",
            new ModalInstanceOptions()
                {
                    Size = ModalSize.Large
                });
    }

    private void RemoveTrafficFilter()
    {
        if (selected != null) svc.TrafficFilters.Remove(selected);
    }
}
