<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</Blazorise.ThemeProvider>

<ModalProvider />
<NotificationProvider />
<ApplicationLoadingIndicator>
    <IndicatorTemplate>
        <Div Flex="Flex.Column.AlignItems.Center">
            <SpinKit Type="SpinKitType.Wave" Size="150px" />
            <Heading Size="HeadingSize.Is4" Style="display:block">Processing now, please be patient, don't refresh page...</Heading>
        </Div>
    </IndicatorTemplate>
</ApplicationLoadingIndicator>

@code {
    private Theme theme = new Theme
        {
            IsRounded = false,
        };
}